{% load static %}

<div class="widget">
    <h2 class="widget-title">Recent Posts</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            {% for recent in posts %}
                <a href="{% url 'blog:singleView' postId=recent.id %}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="w-100 justify-content-between">
                        <img src="media/{{ recent.image }}" alt="" class="img-fluid float-left">
                        <h5 class="mb-1">{{ recent.title }}</h5>

                        <small>{{ recent.pubDate | date:"D d M Y" }}</small>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->
