{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="section lb m3rem">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-title-area">


                            <span class="color-yellow"><a href="#" title="">{{ post.subject }}</a></span>

                            <h3>{{ post.title }}</h3>

                            <div class="blog-meta big-meta">
                                <small><a href="#" title="">{{ post.pubDate }}</a></small>
                                <small><a href="#" title="">by {{ author }}</a></small>
                                <small><a href="#" title=""><i class="fa fa-eye"></i> {{ post.viewCount }} </a></small>


                            </div><!-- end meta -->

                        </div><!-- end title -->

                        <div class="single-post-media">
                            <img src="{{ post.image.url }}" alt="" class="img-fluid">
                        </div><!-- end media -->

                        <div class="blog-content">


                            <div class="pp">
                                <p>{{ post.content }}</p>

                            </div><!-- end pp -->
                        </div><!-- end content -->

                        <div class="blog-title-area">
                            <div class="tag-cloud-single">
                                <span>Tags</span>

                                {% for tag in post.tags.all %}

                                <small><a href="#" title="">{{ tag.name }}</a></small>
                                {% endfor %}
                            </div><!-- end meta -->

                            <div class="post-sharing">
                                <ul class="list-inline">


                                    {% if prevPost != Noun %}

                                        <li><a href="{% url 'blog:singleView' postId=prevPost.id %}"
                                               class="fb-button btn btn-primary"><i></i>
                                            <span class="down-mobile">Next Post</span></a></li>
                                    {% else %}
                                        <li><a class="fb-button btn btn-primary"><i></i>
                                            <span class="down-mobile">Next Post</span></a></li>
                                    {% endif %}


                                    {% if nextPost != Noun %}
                                        <li><a href="{% url 'blog:singleView' postId=nextPost.id %}"
                                               class="tw-button btn btn-primary"><i></i>
                                            <span class="down-mobile">Previous Post</span></a></li>
                                    {% else %}
                                        <li><a class="tw-button btn btn-primary"><i></i>
                                            <span class="down-mobile">Previous Post</span></a></li>
                                    {% endif %}

                                </ul>
                            </div><!-- end post-sharing -->
                        </div><!-- end title -->


                        <hr class="invis1">

                        <div class="custombox authorbox clearfix">
                            <h4 class="small-title">About author</h4>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                    <img src="{{ author.image.url }}" alt="" class="img-fluid rounded-circle">
                                </div><!-- end col -->

                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    <h4><a href="#">{{ author }}</a></h4>
                                    <p>{{ author.description }}</p>

                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end author-box -->

                        <hr class="invis1">


                        <hr class="invis1">


                        <div class="custombox clearfix">
                            <h4 class="small-title">{{ comments.count }} Comments</h4>
                            <div class="row">
                                {% for comment in comments %}

                                    <div class="col-lg-12">
                                        <div class="comments-list">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="media-heading user_name">{{ comment.name }} <small>
                                                        {{ comment.createAt }}
                                                    </small></h4>
                                                    <p>{{ comment.comment }}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div><!-- end col -->
                                {% endfor %}

                            </div><!-- end row -->
                        </div><!-- end custom-box -->


                        <hr class="invis1">

                        <div class="custombox clearfix">
                            <h4 class="small-title">Add Comment</h4>
                            <div class="row">
                                <div class="col-lg-12">
                                    <form class="form-wrapper">
                                        <input type="text" class="form-control" placeholder="Your name">
                                        <input type="text" class="form-control" placeholder="Email address">
                                        <input type="text" class="form-control" placeholder="Website">
                                        <textarea class="form-control" placeholder="Your comment"></textarea>
                                        <button type="submit" class="btn btn-primary">Submit Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->

                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget-no-style">
                            <div class="newsletter-widget text-center align-self-center">
                                <h3>Subscribe Today!</h3>
                                <p>Subscribe to our weekly Newsletter and receive updates via email.</p>
                                <form class="form-inline" method="post">
                                    <input type="text" name="email" placeholder="Add your email here.." required
                                           class="form-control"/>
                                    <input type="submit" value="Subscribe" class="btn btn-default btn-block"/>
                                </form>
                            </div><!-- end newsletter -->
                        </div>

                        <div class="widget">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                {% for recent in recentPost %}
                                <a href="{% url 'blog:singleView' postId=recent.id %}"
                                   class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src= "media/{{ recent.image }}" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">{{ recent.title }}</h5>

                                        <small>{{ recent.pubDate }}</small>
                                    </div>
                                </a>
                                {% endfor %}

                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->


                        <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">

                            {% for cat in category %}
                            <ul>
                                <li><a href="#">{{ cat.name }} <span>({{ cat.repetitions }})</span></a></li>
                            </ul>
                            {% endfor %}
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>

{% endblock %}