{% load static %}
{% load blogTags %}


    <link rel="stylesheet" href={% static 'css/index/linearicons.css' %}>
    <link rel="stylesheet" href={% static 'css/index/font-awesome.min.css' %}>
    <link rel="stylesheet" href={% static 'css/index/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/index/magnific-popup.css' %}>
    <link rel="stylesheet" href={% static 'css/index/jquery-ui.css' %}>
    <link rel="stylesheet" href={% static 'css/index/nice-select.css' %}>
    <link rel="stylesheet" href={% static 'css/index/animate.min.css' %}>
    <link rel="stylesheet" href={% static 'css/index/owl.carousel.css' %}>
    <link rel="stylesheet" href={% static 'css/index/main.css' %}>


<!-- Start blog Area -->
{% recentPostForIndex 6 %}
<!-- End recent-blog Area -->


<script src={% static 'js/index/vendor/jquery-2.2.4.min.js' %}></script>
<script src={% static 'js/index/popper.min.js' %}></script>
<script src={% static 'js/index/vendor/bootstrap.min.js' %}></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src={% static 'js/index/jquery-ui.js' %}></script>
<script src={% static 'js/index/easing.min.js' %}></script>
<script src={% static 'js/index/hoverIntent.js' %}></script>
<script src={% static 'js/index/superfish.min.js' %}></script>
<script src={% static 'js/index/jquery.ajaxchimp.min.js' %}></script>
<script src={% static 'js/index/jquery.magnific-popup.min.js' %}></script>
<script src={% static 'js/index/jquery.nice-select.min.js' %}></script>
<script src={% static 'js/index/owl.carousel.min.js' %}></script>
<script src={% static 'js/index/mail-script.js' %}></script>
<script src={% static 'js/index/main.js' %}></script>

